<!DOCTYPE html>
<html>
<head>
    <title>[[++site_name]] - [[*pagetitle]]</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <base href="[[++site_url]]" />
    <link rel="stylesheet" href="/assets/css/style.css?v=1">
    <link rel="stylesheet" href="/assets/components/nebula/css/nebula.css?v=1">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnI_hLzKyI-o4ndpKU4qzahrj_8pjURHE" ></script>
    <script type="text/javascript" src="/assets/components/ajaxconnector/js/ajaxConnector.js?ver=1" ></script>
    <script type="text/javascript" src="/assets/components/nebula/js/nebula.js?ver=1" ></script>

</head>
<body>

[[*content]]


</body>
</html>